#container{
    font-size: 14px;
}
.cover-image{
    background: url("veld_muz.jpg");
    background-position: center;
    background-size: cover;
    height: 20em;
}

.vsko-article {
    margin: 0em 1em ;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.vsko-article header h1{
    margin-bottom: 0em;
    font-size: 1.5em;
}
.vsko-article header .date{
    font-size: 0.7em;
    margin: 0;
}
.vsko-article header{
    margin-bottom: 2em;
}
.vsko-article > p {
    line-height: 1.6em;
    text-align: justify;
}
.vsko-article > p:first-of-type:first-letter {
    font-size: 3em;
}

.vsko-article a:link{
    color: #ae1f80;
    text-decoration: none;
}

.vsko-article a:hover{
    text-decoration: underline;
}

@media (min-width: 768px) {

    .vsko-article {
        margin: 0em 5em ;
    }

    .vsko-article > p{
        line-height: 1.7em;
        margin-bottom: 2em;
    }

    #container{
        font-size: 16px;
    }


}

@media (min-width: 1170px) {

    .cover-image{
        border-bottom-left-radius: 3em;
        border-bottom-right-radius: 3em;
    }


}

