@font-face {
    font-family: 'BebasBook';
    src: url('fonts/bebasneue_book-webfont.eot');
    src: url('fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/bebasneue_book-webfont.woff2') format('woff2'),
    url('fonts/bebasneue_book-webfont.woff') format('woff'),
    url('fonts/bebasneue_book-webfont.ttf') format('truetype'),
    url('fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "BebasBook", Helvetica, Arial, sans-serif !important;
    background-color: #303945;
    margin:0;
    color: #FFFFFF;
}

nav{
    background-color: #FFFFFF;
    height: 70px;
    position: fixed;
    width: 100%;
}

#nav-inner{
    margin: 0 auto;
    width: 100%;
}

#container{
    padding-top: 90px;
    margin: 0 auto;
    width: 100%;
}

#logo{
    background: url("logo_zill.png") no-repeat;
    background-size: contain;
    float: left;
    height: 120px;
    width: 120px;
}

#menu{
    display: none;
    float: right;
}

#menu .item{
    font-size: 21px;
    font-weight: 300;
    float: right;
    border-left: 1px solid lightgray;
    height: 30px;
    color: #333333;
    line-height: 30px;
    padding: 20px;
    transition: background-color 0.7s;
}

#menu .item:first-child{
    border-right: 1px solid lightgray;
}

#menu .item:hover{
    background-color: lightgray;
    border-bottom: 3px solid #ae1f80;
    padding-bottom: 17px;
    cursor: pointer;
}

#menu .item.active{
    background-color: lightgray;
}

@media (min-width: 1170px) {

    #nav-inner{
        width: 1170px;
    }

    #container{
        width: 1170px;
    }

}

@media (min-width: 768px) {

    #menu{
        display: inline;
    }

}



